@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container {
    margin: 0 auto;
}
.row {
    display: flex;
    flex-direction: row;
}
.wrap {
    flex-wrap: row wrap;
}
.column {
    display: flex;
    flex-direction: column;
}
.between {
    justify-content: space-between;
}
.center {
    justify-content: center;
}
.around {
    justify-content: space-around;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color:#000;
}