body {
    position: relative;
}
.container {
    width: 90%;
    overflow: hidden;
}
header {
    height: 70px;
    background-color: #000;
    color:#fff;
    padding: 25px 0;
}
header ul li {
    margin: 0 15px;
}
header ul li a{
    color:#fff; 
    margin: 0 15px;
    position: relative;
}
.menyu li a::before ,.me-menyu li a::before{
    content: '';
    width: 100%;
    height: 2px;
    top: 110%;
    transform: scale(0);
    background-color:green;
    position: absolute;
    transition: .5s transform;
}
.menyu li:hover a::before,.me-menyu li:hover a::before{
    color:green;
    transform: scale(1);
}
.menyu li a:hover {
    color:green;
}
.menu {
    z-index: 60;
    color:#fff;
    font-size: 30px;
    display: none;
}
.menu i:nth-child(2){
    display: none;
}
.contactbtn {
    cursor:pointer;
    font-size: 30px;
    color:green;
    margin-top: -10px;
}
.contactbtn li {
    margin-left: 5px;
    margin-right: 0px;
    width:35px;
}
.media-menu {
    display: none;
    width: 85%;
    height: 300px;
    background-color: #000;
    z-index: 50;
    color:#fff;
    position: absolute;
}
.media-menu ul li a {
    color :#fff;
}
.media-menu ul li {
    margin: 15px 5px;
    
}
#home {
    position: relative;
    /* background-color: #000; */
    background-image: url('./img/homebg.jpg');
    background-size: cover;
    background-position: center;
    height: 88vh;
    width: 100%;
    overflow: hidden;
}
#home .img {
    top: 20%;
    right :10%;
    position: absolute;
}
#home .img img{
    width: 220px;
    border-radius: 50%;
}
.home-title {
    overflow: hidden;
    position: relative;
    top: 40%;
    transform: translate(0,45%);
    width: 500px;
    left: 5%;
    height: 350px;
}
.home-title p{
    font-size: 30px;
    font-weight: bold;
}
.home-title h1{
    margin: 10px 0;
    margin-top: 2px;
    font-size: 35px;
    animation: hometitle 1s linear 0.5s;
}
@keyframes hometitle {
    0%{
        transform: translateY(200px);
        display: none;
    }
    100%{
        display: block;
        transform: translateY(0px);
    }
}
.btn {
    background-color: rgb(0, 128, 0);
    height: 50px;
    width: 150px;
    border-radius: 30px;
    text-align: center;
    padding: 7px 0;
    color:#fff;
    font-size: 20px;
    cursor: pointer;
    animation: homebtn 1s linear 1s both;
}
@keyframes homebtn {
    0%{
        transform: translateY(200px);
        display: none;
    }
    100%{
        display: block;
        transform: translateY(0px);
    }
}
.btn:hover {
    background-color: green;
    
}
#about {
    background-color: #ccc;
    padding: 35px 0;
    padding-top: 40px;
    text-align: center;
}
span {
    margin: 30px 0;
    text-align: center;
    color: #000;
    font-size: 20px;
    border-bottom: 2px solid green;

}
.but-icon {
    position: absolute;
    transform: translateX(-50%) rotateZ(180deg);
    top: 85%;
    left: 50%; 
    animation: buticon 0.8s infinite;
}
.but-icon i {
    font-size: 30px;
}
@keyframes buticon {
    0% {
        transform: translateY(20px) rotateZ(180deg);
    }
    50% {
        transform: translateY(0px) rotateZ(180deg);
    }
    100% {
        transform: translateY(20px) rotateZ(180deg);
    }
}
#about span {
    margin-bottom: 30px;
}
#about .row {
    padding: 20px 10px;
    margin-top: 20px;
}

#about .left {
    width: 60%;
    margin-right: 20px;
    text-align: start;
}
#about .left h2 ,#about .left p{
    margin: 20px 0;
}
#about ul {
    text-align: start;
    width: 35%;
    padding: 15px;
}
#about ul li {
    margin: 15px 5px;
}
#services {
    position: relative;
    background-color: #ccc;
    padding: 35px 0;
}
#services .container {
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}
#services .row {
    margin-top: 20px;
}
#services .item  {
    width: 30%;
    position: relative;
    padding: 10px 15px;
    margin: 10px 15px;
    padding-top: 25px;
    height: 400px;
    color: #fff;
    background-color: #ccc;
    background-image: url("./img/3.jpg");
    background-size: cover;
    opacity: 0.9;
    overflow: hidden;
}
#services .item:nth-child(2){
    background-image: url("./img/2.jpg");
}
#services .item:nth-child(3){
    background-image: url("./img/4.jpg");
}
#services .item:hover {
    box-shadow: 0 0 7px #000;
    opacity: 1;
}
#services .item:hover .btn{
    display: block;
}
#services .item i {
    font-size: 50px;
    margin: 20px;
    margin-top: 35px;
}
#services .item .btn {
    display: none;
    position: absolute;
    margin: 0 auto;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: .5s;
    animation-delay: 0s;
}
#skill {
    position: relative;
    padding: 30px 0;
    overflow-y: hidden;
}
#skill .row {
    transform: translateX(-310px);
    width: max-content;
    overflow-y: hidden;
}
#skill .row .item{
    width: 330px;
    height: 220px;
    margin: 30px 20px;
    text-align: center;
    padding: 20px;
    background: #ccc;
}
#skill:hover .rowtrans,.rowtrans:hover {
    display: block;
}
#skill .row .item i {
    font-size: 50px;
    margin: 20px 0;
}
.rowtrans {
    display: none;
    font-size: 35px;
    z-index: 60;
}
.rowtrans i{
    border: 1px solid #000;
    z-index: 50;
    top: 50%;
    width: 50px;
    height: 40px;
    position: absolute;
}
.rowtrans i:nth-child(2){
    right: 0%;
}
.skills {
    padding: 20px;
}
.skills .row{
    padding: 10px 15px;
}
.skills .row .column {
    width: 45%;
}
.skills .row .column >* {
    margin: 10px 5px;
}
.skills .progress {
    width: 80%;
    position: relative;
    margin :5px auto;
    background: #ccc;
    height: 5px;
}
.progress-html {
    width: 80%;
    height: 100%;
    position: relative;
}
.progress-html::before {
    content: '80%';
    position: absolute;
    right: 1%;
    top: -20px;
}
.progress-css {
    width: 70%;
    height: 100%;
    position: relative;
}
.progress-css::before {
    content: '70%';
    position: absolute;
    right: 1%;
    top: -20px;
}
.progress-js {
    width: 60%;
    position: relative;
    height: 100%;
}
.progress-js::before {
    content: '60%';
    position: absolute;
    right: 1%;
    top: -20px;
}
.progress-cpp {
    width: 60%;
    position: relative;
    height: 100%;
}
.progress-cpp::before {
    content: '60%';
    position: absolute;
    right: 1%;
    top: -20px;
}
.progress-boot {
    width: 60%;
    position: relative;
    height: 100%;
}
.progress-boot::before {
    content: '60%';
    position: absolute;
    right: 1%;
    top: -20px;
}
.progress .progress-all {
    width: 1%;
    transform: scaleX(1);
    height: 100%;
    background-color: #000;
    animation-name: progressani;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0, -0.58, 1, 1.71);
    animation-fill-mode: both;
}
@keyframes progressani {
    0%{
        width: 1%;
        transform: scaleX(0);
    }

    100%{
        width: 100%;
        transform: scaleX(1);
    }
}
#portfolio {
    text-align: center;
    padding: 20px 0;
    margin: 20px 0;
    position: relative;
    background-color: #ccc;
}
#portfolio span {
    text-align: center;
    margin: 21px 15px;
}
#portfolio .center {
    margin: 20px 0;
}
#portfolio .item {
    width: 200px;
    margin: 10px 30px ;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #f00;
}
#portfolio .item img {
    width: 100%;
    cursor: pointer;
} 
.portf-img {
    display: none;
    position: absolute;
    position: fixed;
    width: 99.5vw;
    top: 0;
    left: 0;
    z-index: 80;
    min-height: max-content;
    height: max-content;
    background-color: rgba(64, 64, 65, 0.548);
}
.portf-img .img {
    width: 100%;
    height: min-content;
}
.portf-img .img img {
    width: 480px;
    position: relative;
    left: 20%;
    transform: translateX(-50%);
    margin: 0 auto;
    display: none;
}
#contact {
    padding: 30px 0;

}
#contact .item {
    width: 25%;
    height: auto;
    margin: 10px 10px;
}
#contact .item >* {
    margin: 10px 10px
}
#contact .item li {
    margin: 10px 0;
}
#contact .item .row input{
    margin: 0 5px;
}
#contact input {
    padding: 10px 0px;
    font-size: 18px;
}
#contact textarea {
    width: 80%;
    font-size: 18px;
    padding: 5px 8px;
    justify-content: start;
}
#contact input[type="submit"] {
    padding: 5px 18px;
    border-style: none;
    background-color: green;
    border-radius: 10px;
    color:#fff;
    justify-content: start;
}
footer {
    text-align: center;
    padding: 10px 0;
    color:#fff;
    background-color: #000;
}
.top {
    top: 90%;
    left: 95%;
    position: fixed;
    z-index: 64;
    width: 40px;
    height: 40px;
    background-color: green;
    font-size: 35px;
    border: 2px solid #000;
}
#color {
    position: fixed;
    width: 30px;
    top: 50%;
    left: 96%;
}





@media only screen and (max-width:720px) { 
    .menu {
        display: block;
    }
    .contactbtn {
        display: none;
    }
    .menyu {
        display: none;
    }
    #home .img {
        top: 10%;
        width: 120px;
        right: 2%;
        position: absolute;
    }
    #home .img img{
        width: 120px;
        border-radius: 50%;
    }
    .home-title {
        overflow: hidden;
        position: relative;
        top: 50%;
        transform: translate(0,0%);
        width: 60%;
        left: 0%;
        height: 100%; 
    }
    #about .row{
        flex-direction: column;
    }
    #about .left {
        width: 90%;
    }
    #about ul {
        width: 80%;
    }
    #services .row {
        flex-direction: column;
    }
    #services .row .item {
        width: 80%;
        margin: 10px auto;
    }
    .skills .row {
        flex-direction: column;
    }
    .skills .progress {
        width: 120%;
    }
    #portfolio .row {
        flex-direction: column;
    }
    #portfolio .row .item {
        width: 75%;
        margin: 20px auto;
    }
    #contact .row {
        flex-direction: column;
    }
    #contact .item {
        width: 80%;
    }
    #contact .item .row input {
        margin:10px 0;
    }
    .top {
        left: 85%;
    }
    #color {
        display: none;
    }
}
